<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body onload="startTime()" style="background-color:#ae61e2;">
  <div class="container">
    <h1 id="headline">I want to breathe free!</h1>
    <div id="countdown">
      <ul>
        <li><span id="years"></span>years</li>
        <li><span id="days"></span>days</li>
        <li><span id="hours"></span>Hours</li>
        <li><span id="minutes"></span>Minutes</li>
        <li><span id="seconds"></span>Seconds</li>
      </ul>
    </div>
    <div id="content" class="emoji">
      <span>🥳</span>
      <span>🎉</span>
      <span>🎂</span>
    </div>
  </div>
  <script>
    function startTime() {
      const date = 1719262800;
      var now = Date.now() / 1000;
      var time_to_date = date - now;
      var years = Math.floor(time_to_date / 31536000);
      var days = Math.floor((time_to_date % 31536000) / 86400)
      var hours = Math.floor(time_to_date % 31536000 % 86400 / 3600 )
      var minutes = Math.floor(time_to_date % 31536000 % 86400 % 3600 / 60)
      var seconds = Math.floor(time_to_date % 31536000 % 86400 % 3600 % 60)
      document.getElementById('years').innerHTML =  years;
      document.getElementById('days').innerHTML =  days;
      document.getElementById('hours').innerHTML =  hours;
      document.getElementById('minutes').innerHTML =  minutes;
      document.getElementById('seconds').innerHTML =  seconds;
      setTimeout(startTime, 1000);
    }
  </script>
</body>
</html>